* {
    padding: 0;
    margin: 0px;
}
header {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
header h1 {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}
header .button{
    padding: 20px;
}
header #newGameButton {
    width: 100px;
    padding: 10px 10px;
    margin-right: 20px;
    background-color: #8f7a66;

    font-family: Arial;
    color: #fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;

    text-decoration: none;
}
header #newGameButton:hover {
    background-color: #66ff99;
}
header #stopGameButton {
    width: 100px;
    padding: 10px 10px;
    background-color: #6f6a66;

    font-family: Arial;
    color:#fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;

    text-decoration: none;
}
header #stopGameButton:hover {
    background-color: #ff1616;
}
header p {
    font-family: Arial;
    font-size: 25px;
    margin: 20px auto;
}
#grid-container {
    width: 460px;
    height: 460px;
    padding: 20px;

    margin: 50px auto;
    background-color: #bbada0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    position: relative;
}
.grid-cell {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    background-color: #ccc0b3;

    position: absolute;
}
.number-cell {
    border-radius: 6px;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    color: #000;
}